body {
    margin: 0;
    padding: 6% 0;
    height: 100vh; 
    font-family: Arial, sans-serif; 
    direction: ltr; 
  }

.reg-body {
    box-shadow:  20rem rgba(134, 130, 130, 0.15); 
    border: hsl(from color h s l); 
    border-radius: 7px; 
    background-color:#D9EAFD; 
}

input.form-control {
    border-radius: 4rem; 
    border: 2px solid #F8FAFC; 
    padding: 0.75rem 1rem; 
    font-size: 1rem; 
    background: transparent;
    
    
  }

.btn-primary {
    color: #090a0b;
    padding: 0.75rem;
    background-color: #D9EAFD; 
    border-color: #D9EAFD;
    font-size: 1rem;
    border-radius: 3rem;
} 

.btn-primary:hover {
    background-color:#F8FAFC ; 
    color: #000000;
}


input.form-control:focus {
    border-color: #D9EAFD; 
    box-shadow: 0 0 0 0 10rem rgba(101, 149, 202, 0.25);
}




      
