body {
  margin: 0;
  padding: 0;
  background-color: #F8FAFC; 
  height: 100vh; 
  /* display: flex; */
  align-items: center; 
  justify-content: center;
  font-family: Arial, sans-serif; 
  direction: ltr; 
}

.bold {
  font-weight: 700;
}

.navbar {
    background-color: #D9EAFD;
}

a{
  text-decoration: none;
  color: white;
}

.about h1 {
  font-size: 6rem;
}

.card {
  box-shadow:  20rem rgba(134, 130, 130, 0.15); 
  border: hsl(from color h s l); 
  border-radius: 7px; 
  background-color:#D9EAFD; 
  justify-content: center;
}

.content1{
  display: flex;
}

.card-body {
  padding: 1rem; 
}
.form-label {
  font-weight: 500; 
  color: #090a0b; 
  margin-bottom: 0.5rem; 
}


input.form-control {
  border-radius: 4rem; 
  border: 1px solid #ced4da; 
  padding: 0.75rem 1rem; 
  font-size: 1rem; 
}


input.form-control:focus {
  border-color: #D9EAFD; 
  box-shadow: 0 0 0 0 10rem rgba(101, 149, 202, 0.25);
}


button a {
  border-color: #608ebf; 
  font-weight: bold; 
  padding: 1rem 2rem; 
  border-radius: 3rem;
  font-size: 1rem; 
  color: rgb(255, 255, 255); 
  width: 50%;
}

.text-center p {
  font-size: 1rem;
  color: #1f2021; 
  margin-bottom: 0; 
}


.form-label {
    font-weight: 500; 
    color: #090a0b; 
    margin-bottom: 0.5rem;
  
}

.form-control {
    border-radius: 4rem;
    border: 1px solid #D9EAFD; 
    padding: 0.75rem 1rem; 
    font-size: 1rem; 
}

h2 {
  font-size: 1.75rem;
  color: #343a40;
  text-align: center;
}

/* .btn-primary {
    color: #090a0b;
    padding: 0.75rem;
    background-color: #D9EAFD; 
    border-color: #D9EAFD;
    font-size: 1rem;
    border-radius: 0.375rem;
} */

  /* .btn-primary:hover {
      background-color: #c8cacc; 
      border-color: #D9EAFD;
  } */


.text-center {
    margin-top: 1.5rem;
}

h5{
    font-size: 1rem;
}
/* ----------- */

.carts{
padding: 20px;
display: flex;
justify-content: center;
}

.carts .cart {
  width: 50%;
  text-align: center;
  background-color:#D9EAFD;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 20px 0px #688eb9;
  align-items: center;
}
 
 .carts .cart h3 {
  color:#1c1e22;
  font-size: 24px;
  margin-bottom: 20px;
}
.carts .cart p {
  color: #505052;
  margin-bottom: 40px;
}

.carts .cart a {
  padding: 15px 20px;
  background-color: #BCCCDC;
  border: 1px solid #BCCCDC;
  color: #fff;
  border-radius: 5px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s; 
}


/* --------- */
.video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-color: #D9EAFD;
    height: 500px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
}
h3{
    text-align: center;
    padding: 40px;
}

/* ------------ */
.coll{
 
    background-color:#FFCDEA;

}

.left img {
  object-fit: cover; /* Ensures the image covers the space without distortion */
  /* max-width: 100%;  */
  
}
.right h4 {
  font-size: 40px;

}
.right p{
    font-size: 20px;
 
}

.right a {
    padding: 10px 20px;
    background-color: #F8FAFC;
    border: 1px solid #F8FAFC;
    color:#9AA6B2;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s; 
    font-size: 20px;

}


/*  questions */

.question {
  color: #000000;
  text-align: center;
  display: flex;
  justify-content: space-between;

}


.btn.answer-btn {
  background-color: #D9EAFD;
  width: 50%;
  padding: 0 4rem;
  align-self: center;
  margin: 1% 0;
  font-size: large;
}


.btn.answer-btn:hover {
  background-color:palevioletred; 
  border-color: #dae6f3; 
}

.question-body{
  background-color: #688eb9;
  border-radius:20px;
  box-shadow: 25px 25px 25px 25px rgba(0, 0, 0, 0.3);
  padding: 1rem 3rem; 
}

.mt-5 {
  display: flex;
  flex-wrap: nowrap;
  align-content: stretch;
  flex-direction: column-reverse;
  font-size: 30px;
}

.next-btn {
  background-color: #dae6f3; 
  border-color: #dae6f3; 
  font-weight: bold; 
  padding: 1rem; 
  border-radius: 3rem;
  font-size: 1rem; 
  color: rgb(14, 14, 14);
  margin-top: 20px; 
}

.next-btn:hover {
  background-color:palevioletred; 
  border-color: #dae6f3; 
}

.result-question {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  border: solid;
}

.correct, .wrong {
  padding: 0.3rem 0.5rem;
}

.correct {
  background-color: #198754;
}

.wrong {
  background-color: #dc3545;
}

.question-footer{
 margin: 7px;
 font-size: 35px;
}


.custom-btn{
  background-color:palevioletred;
  font-size: 1rem; 
  color: rgb(255, 255, 255); 
}
.custom-btn:hover{
  background-color:rgb(168, 162, 162);
}

