.navbar {
    background-color: #D9EAFD;

   }

   body{
       background-color: #F8FAFC;
   }
   .custom-margin {
      
     margin: 250px;
   }
  h1{
   font-size: 70px;
  }
.img1{
   margin: 100px;
   margin-top: 200px;
   width: 500px;
   height: 550px;
}
body {
  background-color: #F8FAFC; 
  height: 100vh; 
  display: flex;
  align-items: center; 
  justify-content: center;
  font-family: Arial, sans-serif; 
  direction: ltr; 
}


.card {
  box-shadow:  20rem rgba(134, 130, 130, 0.15); 
  border: hsl(from color h s l); 
  border-radius: 7%px; 
  background-color:#D9EAFD; 
  justify-content: center;
}


.card-body {
  padding: 1rem; 
}



h2 {
  font-size: 2rem; 
  color:#080b0f; 
  margin-bottom: 5rem; 
  justify-content: left;
  text-align: left;
 
}


.form-label {
  font-weight: 500; 
  color: #090a0b; 
  margin-bottom: 0.5rem; 
}


input.form-control {
  border-radius: 4rem; 
  border: 1px solid #ced4da; 
  padding: 0.75rem 1rem; 
  font-size: 1rem; 
}


input.form-control:focus {
  border-color: #D9EAFD; 
  box-shadow: 0 0 0 0 10rem rgba(101, 149, 202, 0.25);
}


button.btn-primary {
  background-color: #dae6f3; 
  border-color: #dae6f3; 
  font-weight: bold; 
  padding: 1rem; 
  border-radius: 3rem;
  font-size: 1rem; 
  color: rgb(14, 14, 14); 
  width: 100%; 
}


button.btn-primary:hover {
  background-color: #bbbcbd; 
  border-color: #dae6f3; 
}


.text-center p {
  font-size: 1rem;
  color: #1f2021; 
  margin-bottom: 0; 
}


.text-center a {
  color: #0d0d0e; 
  text-decoration: none; 
}

.text-center a:hover {
  color: #f0f7f7; 
}


.mb-3, .mb-4 {
  margin-bottom: 1.5rem; 
}

.mb-0 {
  margin-bottom: 0; 
}
body {
  background-color: #F8FAFC; 
  height: 100vh; 
  display: flex;
  align-items: center; 
  justify-content: center;
  font-family: Arial, sans-serif; 
  direction: ltr; 
  }

  .card {
      box-shadow:  20rem rgba(134, 130, 130, 0.15); 
      border: hsl(from color h s l); 
      border-radius: 7%px; 
      background-color:#D9EAFD; 
      justify-content: center;
  }

  .form-label {
      font-weight: 500; 
      color: #090a0b; 
      margin-bottom: 0.5rem;
     
  }

  .form-control {
      border-radius: 4rem; /* منحنيات خفيفة للحواف */
      border: 1px solid #D9EAFD; 
      padding: 0.75rem 1rem; 
      font-size: 1rem; 
  }

  .btn-primary {
      color: #090a0b;
      padding: 0.75rem;
      background-color: #D9EAFD; 
      border-color: #D9EAFD;
      font-size: 1rem;
      border-radius: 0.375rem;
  }

  .btn-primary:hover {
      background-color: #c8cacc; 
      border-color: #D9EAFD;
  }

  h2 {
      font-size: 1.75rem;
      color: #343a40;
  }

  .text-center {
      margin-top: 1.5rem;
  }

  .text-center a {
      color: hsl(220, 2%, 69%);
      text-decoration: none;
      font-size: 1rem;
  }

  .text-center a:hover {
      text-decoration: underline;
  }
